.page-preview {
  background-color: lighten($maincolor, 10%);

  &__wrapper {
    width: $mobilewidth;
    margin: 0 auto;
    border: 1px solid red;
  }
}

.preview-banner {
  font-family: $opensans;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: $colorwhite;

  &--block {
    padding-top: 29px;
    padding-bottom: 320px;
  }
}

.preview-download {
  border: 1px solid red;

  &__button {
    background-color: transparent;
    color: $colorwhite;
    padding: 21px 39px 21px 38px;
    border: 3px solid $colorwhite;
    border-radius: 29px;
    font-family: $opensans;
    font-size: 17px;
    font-weight: 700;
  }

  &__devices {
    margin-top: 32px;
    border: 1px solid red;
  }

  &__access {
    border: 1px solid red;
    margin-top: 28px;
    color: $colorwhite;
    font-weight: 300;
    line-height: 24px;
  }

  &--block {
    background-color: $maincolor;
  }
}
